# Разрешаем доступ к файлу data.json
<Files "data.json">
    Order allow,deny
    Allow from all
</Files>

# Разрешаем доступ к изображениям
<FilesMatch "\.(jpg|jpeg|png|gif)$">
    Order allow,deny
    Allow from all
</FilesMatch>

# Включаем CORS
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type, Authorization" 